@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    color: theme('colors.gray.600');
    font-weight: 300;
}

.card{
    background-color: theme('colors.slate.50');
    padding:25px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -khtml-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-title{
    font-weight: 400;
    font-size: 1.3rem;
}

.sa-button{
    background-color: theme('colors.primary');
    color: theme('colors.white');
    padding:0.5rem 1.5rem 0.5rem 1.5rem;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
    position:relative;
    border-radius: 4px;
    transition: all 0.1s linear;
}

.sa-button:hover{
    background-color: theme('colors.secondary');
}

.skill svg{
    width: auto;
    height: 48px;
}

.skill svg, .skill path{
    fill: rgba(0,0,0,0.75);
}
